h1 {
    width: 100%;
}

/*video{
    width: 48%;
}
script{
    width: 48%;
}*/

h1 {
    text-align: center;
    margin-top: 15%;
}

div.container {
    border-style: solid;
    position: absolute;
    width: 600px;
    height: 450px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -300px;
    //background:white;
}

video {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}

#points {
    font-size: 40px;
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 10px;
}

@keyframes flash {
    0%, 50%, 100% {
       opacity: 1;
    }
    25%, 75% {
       opacity: 0;
    }
 }
 
 .flash {
    animation-name: flash;
 }